body {
  background-color: #AFEEEE;
  margin: auto;
  position: absolute;
}

/* style page de connexion */


/* fin style page de connexion */

.conteneur {
  display: flex;
}

.sidebar {
  width: 16rem;
  height: auto;
  background-color: white;
}

.sidebar img {
  width: 16rem;
}

#entete1 th{
  font-size: 16px;
}
.navbar {
  width: 124rem;
  background-color: white;
  height: 5rem;
  margin-left: 15px;
  display: flex;
  justify-content: end;
}

li {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

a {
  color: #8f8a8a;
}

/* style navbar */

.B img {
  width: 65px;
  margin-right: 3rem;
  margin-top: 10px;
}

.notif img {
  width: 37px;
  margin-right: 3rem;
  margin-top: 1rem;
}

/* style dashboard */


.row {
  width: 14rem;
  height: 20rem;
  background-color: #008B8B;
  margin-left: 3rem;
  margin-top: 5rem;
  border-radius: 10px;
}

/* cercle progress */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --dot-diameter: 170px;
  --circle-border-width: 3px;
  --default-color: #008080;
  font-family: 'Lilita One', cursive;
}



/* .flex-col {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  text-align: center;
  color: white;
  text-transform: uppercase;
  gap: 24px;
  width: 450px;
} */

.circle-container {
  width: var(--dot-diameter);
  height: var(--dot-diameter);
  transform: rotate(-225deg);
  fill: none;
  stroke: white;
  stroke-dasharray: 75 100;

  margin-left: 29px;
  margin-top: 2rem;
}

.circle-container__background {
  fill: none;
  stroke: var(--default-color);
  stroke-width: var(--circle-border-width);
  stroke-dasharray: 75 100;

}

.circle-container__progress {
  fill: none;
  stroke: url(#gradient);
  stroke-dasharray: 80 100;

  stroke-width: var(--circle-border-width);
  transition: stroke-dashoffset 1s ease-in-out;
}

.stop1 {
  stop-color: #fff;
}

.stop2 {
  stop-color: #fff;
}

.pourcentage {
  margin-top: -7rem;
  margin-left: 90px;
  font-size: 23px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.posit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 85px;
  color: white;
}

.rows {
  display: flex;
}


.circle-container__background1 {
  fill: none;
  stroke: #ede9e95c;
  stroke-width: var(--circle-border-width);
}

.circle-container__progress1 {
  fill: none;

  stroke: url(#gradient1);
  stroke-dasharray: 58 100;
  stroke-width: var(--circle-border-width);
  transition: stroke-dashoffset 1s ease-in-out;
}

.stop3 {
  stop-color: var(--default-color);
}

.stop4 {
  stop-color: var(--default-color);
}

.pourcentage1 {
  margin-top: -7rem;
  margin-left: 90px;
  font-size: 23px;
  color: #5b5353;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.posit1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 85px;
  color: #5b5353;
}

#cercle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #AFEEEE;
  margin-left: 94px;
  margin-top: 30px;
  transform: scaleX(-1);
}

.chart {
  height: 300px;
  width: 60rem;
  margin-top: 9rem;
  margin-left: 3rem;
}

.Anal1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin-left: 30px;
  margin-top: -40px;
  color: #5b5353;
}

.active {
  background-color: #AFEEEE;
  width: 70%;
  height: 30px;
  border-radius: 5px;
}

/* fin style dashboard */
/* style facture */
.fact {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 99%;
  height: 90%;
  border-radius: 10px;
}

.table1 {
  margin-bottom: -1rem;
  margin-left: 1rem;
  border-collapse: collapse;
  width: 98%;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.table1 td,
th {
  text-align: center;
  padding: 5px;
  color: #8f8a8a;
  height: 38px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-left: none;
}

.table1 thead tr th {
  border-right: 0;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #008B8B;
  height: 2rem;
  color: white;
}

th {
  border-color: #8f8a8a;
  text-align: start;
}

.table1 .border {
  border-right: none;
}

.borderl {
  border-left: none;
  border-bottom: 0;
  text-align: start;
  font-size: 16px;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.bb {
  border-top: 1px solid #dddddd;
  border-bottom: 0;
  border-right: none;
}

.borde {
  border-bottom: 0;
  border-right: 0;
  margin-left: none;
}

/* fin style facture */
/* style commande */
/* style commande */


#red {
  color: rgb(255, 133, 133);
}

.borderle {
  border-left: 0;
  border-bottom: 0;
}

.borderr {
  border-right: 0;
  border-bottom: 0;
}

#a {
  text-align: start;
  border-left: 0;
}

.bb {
  border-bottom: 0;
}

/* style commande */
.comm {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 99%;
  height: 90%;
  border-radius: 10px;
}

.table2 {
  margin-top: 2rem;
  margin-left: 1rem;
  border-collapse: collapse;
  width: 98%;
  font-family: Arial, Helvetica, sans-serif;
}

.table2 td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  margin-bottom: 2px;
  color: #8f8a8a;
  height: 42px;
  border-right: none;
}

.table2 thead tr th {
  border-right: 0;
}

button {
  width: 10%;
  border-radius: 5px;
  border: none;
  background-color: #008B8B;
}

input {
  background-color: #f5f4f6;
  margin-left: 8rem;
  height: 30px;
  width: 70%;
  border: none;
  border-radius: 5px;
}

/* fin style commande
et commence style suivi */

.suiv {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 99%;
  height: 90%;
  border-radius: 10px;
}

.table3 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 96%;
  margin-left: 2rem;
}

.table3 td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  margin-bottom: 2px;
  color: #8f8a8a;
  height: 42px;
  border-left: none;
}

.table3 .bordered {
  border-right: none;
}

#hautsuivi {
  border-top: 1px solid #dddddd;
}

/* fin style suivi 
style suivi detaille */
.suivdet {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 99%;
  height: 90%;
  border-radius: 10px;
}

.table4 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98%;
  margin-left: 1rem;
  border: 1px solid black;
}

.table4 td,
th {
  text-align: center;
  margin-bottom: 2px;
  color: black;
  font-size: 10px;
  text-align: start;
  color: #8f8a8a;
}

.suivdet img {
  width: 13rem;
  margin-left: 3rem;
  margin-top: 10px;
}

.suivdet p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #8f8a8a;
  font-size: 18px;
}

.table5 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98%;
  margin-left: 1rem;
  border: 1px solid black;
  margin-top: 5px;
}

.table5 td,
th {
  text-align: center;
  margin-bottom: 2px;
  color: black;
  font-size: 10px;
  text-align: start;
  color: #8f8a8a;
}

.table6 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98%;
  margin-left: 1rem;
  border: 1px solid black;
  margin-top: 5px;
}

.table6 td,
th {
  margin-bottom: 2px;
  color: black;
  font-size: 10px;
  text-align: start;
  border-color: #8f8a8a;
  color: #8f8a8a;
}

.psuivdet {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  color: #8f8a8a;
}

#svdetbord {
  border-left: 1px solid;
  text-align: center;
}

.lineaire {
  background: linear-gradient(to right, rgb(2, 250, 159), rgb(255, 170, 0), rgb(246, 2, 43));
  height: 150px;
  width: 550px;
  margin-left: 2rem;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.piedpage {
  display: flex;
}

.com p {
  color: black;
  font-size: 12px;
  text-align: start;
  margin-top: 2rem;
}

.com {
  margin-left: 2rem;
}

#jaune {
  background-color: #FFA500;
}

#rouge {
  background-color: red;
}

.table6 tr:hover {
  cursor: pointer;
  background-color: #8f8a8a;
}

/* style servclient */
.servcli {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 99%;
  height: 90%;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif
}



.servclient {
  color: rgb(86, 79, 79);
  margin-left: 30px;
}

.input {
  width: 95%;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 5px;
  border: none;
  margin-left: -1px;
}

.input:focus {
  outline-color: chartreuse;
}

.inputM:focus {
  outline-color: chartreuse;
}

.Mess {
  margin-left: 30px;
  color: rgb(86, 79, 79);
}

.inputM {
  width: 95%;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: none;
  margin-left: -1px;
}

.btnC {
  width: 93%;
  height: 40px;
  margin-left: 30px;
  background-color: #067070;
  border-radius: 5px;
  border: none;
  color: white;
}

.btnC:hover {
  opacity: 0.8;
  background-color: white;
  color: #008B8B;
  border: 2px solid #008B8B;
}

/* Responsivité mobile */
@media screen and (max-width: 375px) {


  /* dashboard */
  .sidebar {
    width: 4rem;
    height: auto;
    background-color: white;
  }

  .sidebar img {
    visibility: hidden;
  }

  .sidebar span {
    display: none;

  }

  .navbar {
    width: 18rem;
    background-color: white;
    height: 5rem;
    margin-left: 15px;
    display: flex;
    justify-content: end;
  }

  .rows {
    flex-direction: column;
    display: flex;
  }

  .chart {
    height: 300px;
    width: 18rem;
    margin-top: 9rem;
    margin-left: 1rem;

  }

  /* facture */
  .table1 {
    margin-bottom: -1rem;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 12px;
  }

  .table1 td,
  th {
    text-align: center;
    padding: 5px;
    color: #8f8a8a;
    height: 38px;
    font-size: 12px;
    border: 1px solid #dddddd;
    border-left: none;
    width: 14rem;
  }

  .table1 thead .bb {
    flex-direction: column;
    display: flex;
    margin-left: -11rem;
  }

  #search {
    flex-direction: column;
    margin-right: 9rem;
    width: 5rem;
  }

  .fact {
    background-color: white;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 18rem;
    height: 90%;
    border-radius: 10px;
  }

  .table1 .border button {
    font-size: 12px;
    height: 2rem;
    width: 3rem;
  }

  /* commande */
  .table2 {
    margin-top: 2rem;
    margin-left: 1rem;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .table2 td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    margin-bottom: 2px;
    color: #8f8a8a;
    height: 42px;
    border-right: none;
    width: 10rem;
  }

  #search {
    flex-direction: column;
    display: flex;
    margin-right: 9rem;
    width: 5rem;

  }

  .comm {
    background-color: white;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 18rem;
    height: 90%;
    border-radius: 10px;
  }

  .table2 .border tr {
    width: 5rem;
  }

  .table2 thead .bb {
    flex-direction: column;
    display: flex;
    margin-left: -12rem;
  }

  .table2 .border button {
    font-size: 12px;
    height: 2rem;
    width: 3rem;
  }

  /* suivi echantillon */

  .suiv {
    background-color: white;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 18rem;
    height: 90%;
    border-radius: 10px;
  }

  .table3 {
    flex-direction: column;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 15rem;
  }

  .table3 td,
  tr,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    margin-bottom: 2px;
    color: #8f8a8a;
    border-left: none;
    font-size: 12px;
  }

  #hautsuivi {
    font-size: 12px;
  }

  .table3 .bordered button {
    font-size: 12px;
    height: 2rem;
    width: 3rem;
  }
}


/* facturre */
.sortable-header {
  cursor: pointer;
  position: relative;
}

.sortable-header::after {
  content: '\25B2';
  /* flèche vers le haut par défaut */
  position: absolute;
  right: 8px;
}

.sorted-desc::after {
  content: '\25BC';
  /* flèche vers le bas lorsque trié par ordre décroissant */
}

.cpte {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 125rem;
  height: 57rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif
}
.retour {
  margin-left: 1rem;
  height: 3rem;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  width: 17rem;
}
.retour a {
  color:rgb(13, 147, 13);
}
.mmdp {
  margin-left: 59rem;
  height: 3rem;
  background-color:rgb(13, 147, 13);
  font-weight: bold;
  border: 2px solid rgb(13, 147, 13);
  font-size: 18px;
  width: 15rem;
}
.mmdp a {
  color: white;
}
.supco {
  float: right;
  margin-right: 9rem;
  height: 3rem;
  background-color: red;
  font-weight: bold;
  width: 15rem;
  font-size: 18px;

}
.supco a {
  color: white;
}
#ret {
  color: rgb(13, 147, 13);
}
#titre {
  font-size: 30px;
  text-align: center;
  color: rgb(112, 102, 102);
}
.prof {
  display: flex;
  background-color: #dddddd;
  width: 100%;
  height:35rem;
  margin-top: 4rem;
}
.inp input {
  margin-left: 30px;
  margin: 30px;
}
.inp {
  width: 70%;
  margin-top: 2rem;
}
h3 {
  margin-left: 1rem;
  margin-bottom: 40px;
}
#nomprof {
  height: 3rem;
  width: 95%;
}
#email {
  height: 3rem;
  width: 95%;

}

#bio {
  height: 17rem;
  width: 95%;
  margin-left: 2rem;
  border-radius: 10px;
}
.subm {
  width: 95%;
  height: 3rem;
  background-color: rgb(13, 147, 13);
  margin-left: 30px;
  margin: 30px;  
}
.subm a{
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.imgprof {
  background-color: #AFEEEE;
  width: 20%;
}
.imgavat {
  margin-left: 2rem;
  width: 22rem;
}
.btphot {
  text-align: center;
}
.mph {
  background-color: rgb(13, 147, 13);;
  margin-top: 3rem;
  height: 3rem;
  font-weight: bold;
  width: 15rem;
  font-size: 18px;
}
.mph a {
  color: white;
}
.supph {
  margin-top: 2rem;
  height: 3rem;
  background-color: red;
  font-weight: bold;
  width: 15rem;
  font-size: 18px;
}
.supph a {
  color: white;
}
/* Styles pour le conteneur de l'image */
.circle-image {
  margin-top: 5px;
  width: 70px; /* Ajustez la taille selon vos besoins */
  height: 70px; /* Ajustez la taille selon vos besoins */
  border-radius: 50%; /* Crée un cercle */
  overflow: hidden; /* Cache le débordement */
  position: relative; /* Permet de positionner l'image interne */
}

/* Styles pour l'image interne */
.circle-image img {
  width: 100%; /* Ajustez la taille pour remplir le conteneur */
  height: 100%; /* Ajustez la taille pour remplir le conteneur */
  object-fit: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
}

/* Styles pour la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 15rem;
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}
#ancienMotDePasse {
  margin-bottom: 1rem;
}
#nouveauMotDePasse {
  margin-bottom: 1rem;
}
#close-modal {
left: 60%;
top: 27%;
}